PROJECT_ID={{project_name}}
SERVICE_ACCOUNT={{service_account_email}}
IMAGE_NAME={{image_name}}:latest
REPO_NAME={{repo_name}}
AR_REGION={{ar_region}}
CLOUD_RUN_REGION={{c_run_region}}
CLOUD_RUN_NAME={{c_run_name}}
